body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #0B0C10;
}

.calculator {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2833;
    width: 210px;
    height: 330px;
}


.display {
    padding-left: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #C5C6C7;
    color: #0B0C10;
    height: 60px;
    width: 190px;
    margin-bottom: 10px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
    overflow-wrap: anywhere;
}

.buttons {
    width: 190px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

}

button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #2C3E50;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


button:hover {
    background-color: #3A539B;
}

button:active {
    transform: scale(0.95);
    background-color: #1A252F;
}


